@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-primary {
    @apply bg-blue-300 dark:bg-blue-950;
  }
  .bg-primary-2 {
    @apply bg-black bg-opacity-10 dark:bg-white dark:bg-opacity-15;
  }
  .hover-primary {
    @apply hover:bg-emerald-300 hover:dark:text-gray-900;
  }
  .bg-secondary {
    @apply border-gray-300 bg-white dark:border-gray-600 dark:bg-gray-900;
  }
  .bg-secondary-2 {
    @apply bg-gray-100 dark:bg-gray-800;
  }
  .hover-secondary {
    @apply bg-gray-200 dark:bg-gray-700;
  }
  .text-primary {
    @apply text-gray-900 dark:text-gray-50;
  }
  .text-secondary {
    @apply text-gray-700 dark:text-gray-200;
  }
  .text-tertiary {
    @apply border-gray-500 text-gray-500 dark:border-gray-400 dark:text-gray-400;
  }
  .text-accent {
    @apply text-emerald-300 hover:text-emerald-400;
  }
  .text-error {
    @apply text-red-600 dark:text-red-500;
  }
  .list-primary {
    @apply text-primary block w-full cursor-pointer rounded p-2 text-left text-base font-medium transition duration-300;
  }
  .list-secondary {
    @apply text-secondary block w-full cursor-pointer rounded pr-2 text-left text-base font-medium transition duration-300;
  }
  .accent-primary {
    @apply bg-emerald-300 text-gray-900 hover:bg-emerald-400 dark:border-none dark:shadow-gray-950;
  }
  .shadow-normal {
    @apply shadow shadow-gray-300 dark:shadow-md dark:shadow-gray-950;
  }
  .shadow-medium {
    @apply shadow-md shadow-gray-300 dark:shadow-md dark:shadow-gray-950;
  }
  .shadow-hover {
    @apply -translate-y-0.5 shadow-lg shadow-gray-300 dark:shadow-gray-950;
  }
  .focus {
    @apply outline-none ring-emerald-300 focus:border-transparent focus:ring-2;
  }
  .timing {
    @apply duration-300 ease-in-out;
  }
  .auth-layout-rows {
    grid-template-rows: 1fr 2fr;
  }
  .layout-cols {
    grid-template-columns: minmax(0, 1fr) minmax(320px, 1000px) minmax(0, 1fr);
  }
  .main-layout-xl {
    grid-template-columns: minmax(350px, 15vw) 1fr;
  }
  .main-layout-md {
    grid-template-columns: auto 1fr;
  }
  .main-layout {
    grid-template-rows: auto 1fr auto;
  }
  .navbar-layout-md {
    grid-template-rows: auto 1fr auto;
  }
  dialog::backdrop {
    backdrop-filter: blur(5px) brightness(0.8); /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity */
  }
}

@keyframes form-load {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-load {
  animation: form-load 1s forwards;
}

@keyframes logo-load {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-load {
  animation: logo-load 1s forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-load {
  animation: menu-load 0.3s forwards;
}

.menu-deload {
  animation: menu-load 0.3s reverse;
}

@keyframes menu-load {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.spin {
  animation: spin 0.5s linear infinite;
}
