@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-primary {
    @apply bg-blue-300 dark:bg-blue-950;
  }
  .bg-primary-2 {
    @apply bg-black bg-opacity-10 dark:bg-white dark:bg-opacity-15;
  }
  .hover-primary {
    @apply hover:bg-emerald-300 hover:dark:text-gray-900;
  }
  .bg-secondary {
    @apply border-gray-400 bg-zinc-100 dark:border-gray-600 dark:bg-zinc-900;
  }
  .bg-secondary-2 {
    @apply bg-zinc-200 dark:bg-zinc-800;
  }
  .hover-secondary {
    @apply bg-zinc-300 dark:bg-zinc-700;
  }
  .text-primary {
    @apply text-gray-900 dark:text-gray-50;
  }
  .text-secondary {
    @apply text-gray-700 dark:text-gray-200;
  }
  .text-tertiary {
    @apply border-gray-500 text-gray-500 dark:border-gray-400 dark:text-gray-400;
  }
  .text-accent {
    @apply text-emerald-400 md:hover:text-emerald-500 dark:text-emerald-300 md:dark:hover:text-emerald-400;
  }
  .text-error {
    @apply text-red-600 dark:text-red-500;
  }
  .list-primary {
    @apply text-primary block w-full cursor-pointer rounded p-2 text-left text-base font-medium transition duration-300;
  }
  .list-secondary {
    @apply text-secondary block w-full cursor-pointer rounded pr-2 text-left text-base font-medium transition duration-300;
  }
  .accent-primary {
    @apply bg-emerald-400 text-gray-900 md:hover:bg-emerald-500 dark:border-none dark:bg-emerald-300 dark:shadow-gray-950 md:dark:hover:bg-emerald-400;
  }
  .shadow-normal {
    @apply shadow shadow-gray-300 dark:shadow dark:shadow-gray-950;
  }
  .shadow-medium {
    @apply shadow-md shadow-gray-300 dark:shadow-md dark:shadow-gray-950;
  }
  .shadow-hover {
    @apply -translate-y-0.5 shadow-lg shadow-gray-300 dark:shadow-gray-950;
  }
  .focus {
    @apply outline-none ring-emerald-300 focus:border-transparent focus:ring-2;
  }
  .timing {
    @apply transition-all duration-500 ease-in-out md:duration-300;
  }
  .auth-layout-rows {
    grid-template-rows: 1fr 2fr;
  }
  .layout-cols {
    grid-template-columns: minmax(0, 1fr) minmax(320px, 1000px) minmax(0, 1fr);
  }
  .main-layout-xl {
    grid-template-columns: minmax(350px, 15vw) 1fr;
  }
  .main-layout-md {
    grid-template-columns: auto 1fr;
  }
  .main-layout {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
  }
  .navbar-layout-md {
    grid-template-rows: auto 1fr auto;
  }
  .comment-layout {
    grid-template-columns: 1fr 0%;
    grid-template-rows: 1fr;
  }
  .comment-layout-2 {
    grid-template-columns: 1fr 15%;
    grid-template-rows: 1fr;
  }
  dialog::backdrop {
    backdrop-filter: blur(5px) brightness(0.8);
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.no-scroll {
  overflow: hidden;
}

.fixed-height {
  height: 100dvh;
}

@keyframes form-load {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-load {
  animation: form-load 0.75s forwards;
}

@keyframes logo-load {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-load {
  animation: logo-load 0.75s forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-in-left {
  animation: fade-in-left 0.5s forwards;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.fade-in-right {
  animation: fade-in-right 0.5s forwards;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.fade-in-bottom {
  animation: fade-in-bottom 0.5s forwards;
}

@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.backdrop-fade {
  animation: backdrop-fade 0.5s forwards;
}

@keyframes backdrop-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.spin {
  animation: spin 0.5s linear infinite;
}

/* ::-webkit-scrollbar {
  width: 8px;
  transition: all;
  transition-duration: 300ms;
  padding: 5px;
}

::-webkit-scrollbar:hover {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(48, 48, 48);
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;

  border-radius: 6px;
} */
